h1{
    text-align: center;
    font-size: 100px;
    font-family: Audiowide ;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

div {
    font-size: 30px;
    background-color: black;
    color: aliceblue;
    padding: auto;
    margin: auto;
    width: 200px;
    text-align: center;
}

img{
  display: block;
  margin: auto;
  width: 50%;   
}

